  <mat-toolbar color="primary">
    <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>explore</mat-icon>
    </button>
    <span>WSB</span>
    <span class="spacer"></span>
    <button *ngIf="router.url === '/crud'" (click)="openDialog()" mat-raised-button color="warn">Dodaj produkt</button>
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/crud" routerLinkActive="active" ariaCurrentWhenActive="page">Produkty</a>
        <a mat-list-item routerLink="/stats" routerLinkActive="active" ariaCurrentWhenActive="page">Wykres</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>